services:
  tor:
    container_name: bitcoin_pod_tor
    build:
      context: ./tor
      dockerfile: tor.Dockerfile
    profiles:
      - bitcoin_only
      - debug
      - initialize
      - run
      - tor
    volumes:
      - tor_cookie:/home/bitcoin_pod_user/.tor
    networks:
      primary:
        ipv4_address: 192.168.80.2
  bitcoin:
    container_name: bitcoin_pod_bitcoin
    build:
      context: ./bitcoin
      dockerfile: bitcoin.Dockerfile
      args:
        - BITCOIN_VERSION
        - BITCOIN_TARGET
    depends_on:
      - "tor"
    ports:
      - "127.0.0.1:8332:8332"
    profiles:
      - bitcoin_only
      - debug
      - initialize
      - run
    volumes:
      - tor_cookie:/home/bitcoin_pod_user/.tor
      - $BITCOIN_DATA_ROOT:/home/bitcoin_pod_user/.bitcoin
    networks:
      primary:
        ipv4_address: 192.168.80.3
  eps:
    container_name: bitcoin_pod_eps
    build:
      context: ./electrum_personal_server
      dockerfile: eps.Dockerfile
    depends_on:
      - "bitcoin"
    ports:
      - "127.0.0.1:50002:50002"
    profiles:
      - debug
      - disabled
      - run
    volumes:
      - $BITCOIN_DATA_ROOT:/home/bitcoin_pod_user/.bitcoin
    networks:
      - primary
volumes:
  tor_cookie:
networks:
  primary:
    ipam:
      config:
        - subnet: 192.168.80.0/24
