services:
  debugger:
    image: ubuntu_dev
    user: "2000:2000"
    command: ls -la /home/bitcoin_pod_user
    depends_on:
      - "tor"
    profiles:
      - disabled
      - dev
      - tor
    volumes:
      - tor_cookie:/home/bitcoin_pod_user/.tor
    networks:
      - primary
